<article class="article row">
  <a href="{{url}}" class="col-xs-12 col-sm-6 image-link">
    <div class="article-image" style="background-image:url('{{image}}');">
    </div>
  </a>
  <div class="article-body col-xs-12 col-sm-6">
    <h2>{{title}}</h2>
    <hr>
    <div class="date">
      <time>{{date published_at format="MMMM DD, YYYY"}}</time>
      <a href="{{url}}">Leer más</a>
    </div>
  </div>
</article>
