<section class="cover" style="background-image:url('{{image}}');">
  <div class="container main-container">
    <article class="main-article">
      {{#if title}}
          <h1>{{title}}</h1>
          <hr>
          <p>{{content}}</p>
        {{else}}
          <h1>{{name}}</h1>
          <hr>
          <p>{{description}}</p>
      {{/if}}
    </article>
    {{> socialChannels}}
  </div>
</section>
