<header class="navigation {{#is "index"}}navigation--home{{/is}}">
  <div class="container">

    <figure class="navigation-brand">
      <a href="{{@blog.url}}"><img src="{{asset 'images/brand.svg'}}" alt="cafrilosa-logo" /></a>
    </figure>

    <button class="glyphicon btn btn-default btn-menu icon-icon-menu" type="button" name="nav-button"></button>

    <nav class="nav">
      {{> searchBox}}

      <ul class="nav-list">
        {{#foreach navigation}}
          <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
      </ul>
    </nav>
  </div>
</header>
