{{!< default}}
<section class="cover">
  <div class="container">
    <figure class="cover-brand col-xs-12">
      <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
      <figcaption class="col-xs-12 lead">{{@blog.description}}</figcaption>
    </figure>
    <figure class="cover-image">
      <img src="{{@blog.cover}}" alt="{{@blog.title}}" />
    </figure>
    <div class="socialChannels">
      <div class="container">
        <a href="//twitter.com"><i class="icon-twitter"></i></a>
        <a href="//facebook.com"><i class="icon-facebook"></i></a>
        <a href="//instagram.com"><i class="icon-instagram"></i></a>
        <a href="//youtube.com"><i class="icon-youtube"></i></a>
      </div>
    </div>
  </div>
</section>
