{{!< default}}
<section class="cover--home">
  <div class="container">
    <figure class="cover--home-brand col-xs-12">
      <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
      <hr>
      <figcaption class="col-xs-12 lead">{{@blog.description}}</figcaption>
    </figure>
    <figure class="cover--home-image">
      <img src="{{@blog.cover}}" alt="{{@blog.title}}" />
    </figure>
    {{> socialChannels}}
  </div>
</section>

<section>
{{#get "posts" limit="1" filter="tag:novedades" order="published_at desc"}}
  {{#foreach posts}}
    <a href="{{url}}">
      <div class="newPost" style="background-image:url({{image}});">
        <div class="container">
          <article class="newPost-info">
            <h3>Novedades</h3>
            <h4>{{{title}}}</h4>
          </article>
        </div>
      </div>
    </a>
  {{/foreach}}
{{/get}}
</section>

<section class="productionLines">
  <div class="container">
    <div class="row">
      {{#get "posts" slug="lineas-produccion" as |article|}}
        {{#article}}
          <article class="col-xs-12 col-sm-8 text-center">
            <h2>{{title}}</h2>
            <hr>
            <div class="col-sm-9">
              {{content}}
            </div>
            <a href="/productos" class="btn btn-primary" role="button">Ver Productos</a>
          </article>
        {{/article}}
      {{/get}}
    </div>
  </div>
</section>

<section class="productionLines">
  <div class="container">
    {{#get "posts" slug="chorizo-y-parrilla" as |article|}}
      {{#article}}
        <a href="/tag/{{slug}}" class="row">
          <figure class="col-xs-12 col-sm-6 text-center">
            <img src="{{image}}" alt="{{title}}" />
          </figure>
          <article class="col-xs-12 col-sm-6">
            <div class="col-md-10">
              <h3>{{title}}</h3>
            </div>
            <hr>
            <div class="lead text-center">
              {{content}}
            </div>
          </article>
        </a>
      {{/article}}
    {{/get}}
  </div>
</section>

<section class="productionLines productionLines--invert">
  <div class="container">
    {{#get "posts" slug="mortadela-salami-y-pastel" as |article|}}
      {{#article}}
        <a href="/tag/{{slug}}" class="row">
          <article class="col-xs-12 col-sm-6">
            <div class="col-md-10">
              <h3>{{title}}</h3>
            </div>
            <hr>
            <div class="lead text-center">
              {{content}}
            </div>
          </article>
          <figure class="col-xs-12 col-sm-6 text-center">
            <img src="{{image}}" alt="{{title}}" />
          </figure>
        </a>
      {{/article}}
    {{/get}}
  </div>
</section>

<section class="productionLines">
  <div class="container">
    {{#get "posts" slug="jamones" as |article|}}
      {{#article}}
        <a href="/tag/{{slug}}" class="row">
          <figure class="col-xs-12 col-sm-6 text-center">
            <img src="{{image}}" alt="{{title}}" />
          </figure>
          <article class="col-xs-12 col-sm-6">
            <div class="col-md-6">
              <h3>{{title}}</h3>
            </div>
            <hr>
            <div class="lead text-center">
              {{content}}
            </div>
          </article>
        </a>
      {{/article}}
    {{/get}}
  </div>
</section>

<section class="productionLines productionLines--invert">
  <div class="container">
    {{#get "posts" slug="ahumados" as |article|}}
      {{#article}}
        <a href="/tag/{{slug}}" class="row">
          <article class="col-xs-12 col-sm-6">
            <div class="col-md-6">
              <h3>{{title}}</h3>
            </div>
            <hr>
            <div class="lead text-center">
              {{content}}
            </div>
          </article>
          <figure class="col-xs-12 col-sm-6 text-center">
            <img src="{{image}}" alt="{{title}}" />
          </figure>
        </a>
      {{/article}}
    {{/get}}
  </div>
</section>

<section class="productionLines">
  <div class="container">
    {{#get "posts" slug="salchichas-tipo-vienesa" as |article|}}
      {{#article}}
        <a href="/tag/{{slug}}" class="row">
          <figure class="col-xs-12 col-sm-6 text-center">
            <img src="{{image}}" alt="{{title}}" />
          </figure>
          <article class="col-xs-12 col-sm-6">
            <div class="col-md-8">
              <h3>{{title}}</h3>
            </div>
            <hr>
            <div class="lead text-center">
              {{content}}
            </div>
          </article>
        </a>
      {{/article}}
    {{/get}}
  </div>
</section>

<section class="productionLines productionLines--invert">
  <div class="container">
    {{#get "posts" slug="deshidratado" as |article|}}
      {{#article}}
        <a href="/tag/{{slug}}" class="row">
          <article class="col-xs-12 col-sm-6">
            <div class="col-md-7">
              <h3>{{title}}</h3>
            </div>
            <hr>
            <div class="lead text-center">
              {{content}}
            </div>
          </article>
          <figure class="col-xs-12 col-sm-6 text-center">
            <img src="{{image}}" alt="{{title}}" />
          </figure>
        </a>
      {{/article}}
    {{/get}}
  </div>
</section>

<section class="location">
  <div class="container">
    <div class="row location-header">
      <article class="col-xs-12 col-sm-6 text-center">
        <h4>Encuentranos</h2>
        <hr>
      </article>
    </div>
    <div class="row location-body">
      <figure class="col-xs-12 col-sm-6 country">
        <img src="{{asset 'images/country.png'}}" alt="ubicación cafrilosa en el país - ecuador" />
      </figure>
      <article class="col-xs-12 col-sm-6">
        <figure class="brand">
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
        </figure>
        <p class="text-center">
          Puedes encontrarnos en varias partes del país. Siempre tratando de estar mucho más cerca de ti.
        </p>
      </article>
    </div>
  </div>
</section>
